__pycache__/
.pycache/
*.py[cod]
*.session
*.session-journal
.venv/
data/exports/*.jsonl
data/analysis/*.json

job_aggregator.session

.bsp
job_aggregator/.idea
.idea
.local
.venv
target
.env
local.conf
application.log